:root {
	--size-of-background: -550.667px;
}
body {
	background: #eeeeeeee;
	height: 100vh;
	width: 100vw;
	display: grid;
	justify-items: center;
	align-items: center;
	div {
		height: 300px;
		width: 300px;
		border-radius: 100%;
		box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.71);
		background-image: url(https://cdn.pixabay.com/photo/2017/01/12/13/23/colorful-1974699_960_720.png);
		background-size: cover;
		animation: earthRound 5s linear infinite;
	}
}

@import "keyframes";
@import "mediaqueries";
